@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@font-face {
  font-family: 'Rubik Dirt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
       url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/rubik-dirt-v1-latin_hebrew/rubik-dirt-v1-latin_hebrew-regular.svg#RubikDirt') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/clash-display/ClashDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/clash-display/ClashDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/clash-display/ClashDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/clash-display/ClashDisplay-Regular.woff') format('woff'), /* Modern Browsers */
       url('/clash-display/ClashDisplay-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ClashDisplay-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/clash-display/ClashDisplay-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/clash-display/ClashDisplay-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/clash-display/ClashDisplay-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('/clash-display/ClashDisplay-Medium.woff') format('woff'), /* Modern Browsers */
       url('/clash-display/ClashDisplay-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/open-sans/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/open-sans/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/open-sans/open-sans-v34-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/open-sans/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/open-sans/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/open-sans/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/open-sans/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/open-sans/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/open-sans/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/open-sans/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/open-sans/open-sans-v34-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
body {
direction: rtl;
background: #222;
width:100%;
}

.theNuxt {
    overflow-x: hidden;
}

$t-duration: 500ms;
$t-delay: 200ms;

$desktopBreakpoin: 768px;

/*.page-enter-active, .fade-leave-active {
  transition: opacity 1.5s, transform 1.5s;
}
.page-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(.7);
}
.layout{
  position: relative;
}*/
.page-enter-active,
.page-leave-active {
  transition-duration: $t-duration * 2;
  z-index: 999;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: #3e3e3e;
  }

  &::after {
    top: 50%;
    background-color: #3e3e3e;
  }
}

.page-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.page-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}

.page-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.page-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}
